{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
            <div class="background d-flex">
                <div class="bg-left">
                    <div class="col-12 d-flex justify-content-around align-items-center social-links">
                        <a href="https://www.linkedin.com/in/ashley-preece-82698a142/" target="_blank" rel="nofollow" aria-label="Visit my Linkedin page (opens in a new tab)"><i class="fa-brands fa-linkedin text-orange"></i></a>
                        <a href="https://github.com/Ash-5p" target="_blank" rel="nofollow" aria-label="Visit my Github page (opens in a new tab)"><i class="fa-brands fa-square-github text-orange"></i></a>
                     </div>
                </div>
                <div class="bg-seperator"></div>
                <div class="bg-right"></div>
            </div>
{% endblock %}