.bg-left {
    height: 100vh;
    width: 40%;
}

.bg-right {
    background-color: gray;
    height: 100vh;
    width: 60%;
    margin-left: auto;
    z-index: 0;
}

.bg-seperator {
    width: 0;
    height: 0;
    border-top: 100vh solid transparent;
    border-right: 13.9vh;
    border-left: 13.9vh solid #fff;
    z-index: 1;
    margin-right: -100px;
}